<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <mass value="0.41269808776803635" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.6134308930261969 0.6030436858449395 1.1156244875574273" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.6134308930261969 0.6030436858449395 1.1156244875574273" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.30671544651309846 0 2" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.5693500247651311 0 0" rpy="0 0 0"/>
            <mass value="0.7986680496876744" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5693500247651311 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1387000495302622 1.2130520868624082 0.5781992476146343" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5693500247651311 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1387000495302622 1.2130520868624082 0.5781992476146343" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.5693500247651311 -0.6065260434312041 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 -0.44153313394785704 0.0" rpy="0 0 0"/>
            <mass value="0.41021263740911185" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.44153313394785704 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9433201557909643 0.8830662678957141 0.4924437455899482" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.44153313394785704 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9433201557909643 0.8830662678957141 0.4924437455899482" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.47166007789548214 -0.44153313394785704 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.5599938131713392 0.0 0.0" rpy="0 0 0"/>
            <mass value="0.5186001681124496" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5599938131713392 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1199876263426785 0.4641019157696299 0.9977140026507801" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5599938131713392 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1199876263426785 0.4641019157696299 0.9977140026507801" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.5599938131713392 0.0 -0.49885700132539007" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 -0.4851611050617721" rpy="0 0 0"/>
            <mass value="0.13664450917639082" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.4851611050617721" rpy="0 0 0"/>
            <geometry>
                <box size="0.39466393551422896 0.35681965623961165 0.9703222101235442" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.4851611050617721" rpy="0 0 0"/>
            <geometry>
                <box size="0.39466393551422896 0.35681965623961165 0.9703222101235442" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0.17840982811980582 -0.4851611050617721" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.34645791566812756 0.0" rpy="0 0 0"/>
            <mass value="0.5530820914864132" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.34645791566812756 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7763181160447106 0.6929158313362551 1.0281805677545706" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.34645791566812756 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7763181160447106 0.6929158313362551 1.0281805677545706" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.34645791566812756 -0.5140902838772853" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 -0.6060862485784143" rpy="0 0 0"/>
            <mass value="0.8141638203734196" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.6060862485784143" rpy="0 0 0"/>
            <geometry>
                <box size="0.6087433527982574 1.1033495985139066 1.2121724971568286" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.6060862485784143" rpy="0 0 0"/>
            <geometry>
                <box size="0.6087433527982574 1.1033495985139066 1.2121724971568286" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.0 -0.5516747992569533 -0.6060862485784143" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 -0.26381400114012865 0.0" rpy="0 0 0"/>
            <mass value="0.43127104734659066" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.26381400114012865 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.22912549357449 0.5276280022802573 0.6650070363847951" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.26381400114012865 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.22912549357449 0.5276280022802573 0.6650070363847951" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="-0.614562746787245 -0.26381400114012865 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="-0.48750494215867757 0.0 0.0" rpy="0 0 0"/>
            <mass value="1.0730689118046317" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.48750494215867757 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9750098843173551 1.1448659340129543 0.9613111101046645" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.48750494215867757 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9750098843173551 1.1448659340129543 0.9613111101046645" />
            </geometry>
        </collision>
    </link>
    <joint name="Link8_Link9" type="revolute">
       <parent link="Link8"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="-0.48750494215867757 0.0 -0.48065555505233226" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 0.0 -0.3084741190750584" rpy="0 0 0"/>
            <mass value="0.7049378962006008" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.3084741190750584" rpy="0 0 0"/>
            <geometry>
                <box size="1.0081322827790502 1.1334036519677717 0.6169482381501168" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.3084741190750584" rpy="0 0 0"/>
            <geometry>
                <box size="1.0081322827790502 1.1334036519677717 0.6169482381501168" />
            </geometry>
        </collision>
    </link>
</robot>