<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <mass value="0.9914396320413821" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.9045375346228315 1.1042582098426466 0.9925880576965468" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2" rpy="0 0 0"/>
            <geometry>
                <box size="0.9045375346228315 1.1042582098426466 0.9925880576965468" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.45226876731141574 0 2" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0.48855059420183844 0 0" rpy="0 0 0"/>
            <mass value="1.2708323924499392" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.48855059420183844 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9771011884036769 1.1087907562669648 1.1730030407536653" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.48855059420183844 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9771011884036769 1.1087907562669648 1.1730030407536653" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.48855059420183844 -0.5543953781334824 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.0 -0.32287513078259034 0.0" rpy="0 0 0"/>
            <mass value="0.24849625987360338" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.32287513078259034 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1520760015248446 0.6457502615651807 0.3340212797987252" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.32287513078259034 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1520760015248446 0.6457502615651807 0.3340212797987252" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.5760380007624223 -0.32287513078259034 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.5397868592290745 0.0 0.0" rpy="0 0 0"/>
            <mass value="0.6746190000611122" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5397868592290745 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.079573718458149 0.7889315533076343 0.792076154739123" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5397868592290745 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.079573718458149 0.7889315533076343 0.792076154739123" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.5397868592290745 0.0 0.3960380773695615" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 0.5639802093625783" rpy="0 0 0"/>
            <mass value="0.34197779045058574" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.5639802093625783" rpy="0 0 0"/>
            <geometry>
                <box size="1.0751753305664196 0.2819841843757739 1.1279604187251566" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.5639802093625783" rpy="0 0 0"/>
            <geometry>
                <box size="1.0751753305664196 0.2819841843757739 1.1279604187251566" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0.14099209218788694 0.5639802093625783" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.0 0.47159727918919403 0.0" rpy="0 0 0"/>
            <mass value="0.22483547274269802" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.47159727918919403 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2846340013377203 0.9431945583783881 0.8374844793504092" />
            </geometry>
            <material name="Sensor">
                <color rgba="0.239 0.875 0.282 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.47159727918919403 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2846340013377203 0.9431945583783881 0.8374844793504092" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0.47159727918919403 -0.4187422396752046" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 0.0 -0.26273101332505205" rpy="0 0 0"/>
            <mass value="0.29243170145542086" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.26273101332505205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8917491808335967 0.6240801877382561 0.5254620266501041" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.26273101332505205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8917491808335967 0.6240801877382561 0.5254620266501041" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.0 -0.31204009386912807 -0.26273101332505205" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 -0.5679115585748608 0.0" rpy="0 0 0"/>
            <mass value="0.7032312213414064" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.5679115585748608 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7594085814387623 1.1358231171497215 0.8152896703655683" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.5679115585748608 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7594085814387623 1.1358231171497215 0.8152896703655683" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.0 -1.1358231171497215 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 -0.3456896154767504 0.0" rpy="0 0 0"/>
            <mass value="0.771575732090519" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.3456896154767504 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9131488914643168 0.6913792309535008 1.2221390871214521" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.3456896154767504 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9131488914643168 0.6913792309535008 1.2221390871214521" />
            </geometry>
        </collision>
    </link>
    <joint name="Link8_Link9" type="revolute">
       <parent link="Link8"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0.0 -0.6913792309535008 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link9">
        <inertial>
            <origin xyz="0.0 -0.3024512554253867 0.0" rpy="0 0 0"/>
            <mass value="0.5424613501548606" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.3024512554253867 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9925224523517098 0.6049025108507734 0.9035310326636594" />
            </geometry>
            <material name="No Sensor">
                <color rgba="0.184 0.553 0.933 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.3024512554253867 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9925224523517098 0.6049025108507734 0.9035310326636594" />
            </geometry>
        </collision>
    </link>
</robot>